fastapi
uvicorn[standard]
pydantic       
python-multipart
pdfplumber
PyPDF2
openai
chromadb
langchain
tqdm
requests
python-dotenv
llama-index
llama-index-core
llama-index-embeddings-openai
llama-index-vector-stores-chroma
pdfplumber
pypdf